In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

In [4]:
url = 'https://turkiye.toyota.com.tr/middle/fiyatl_aksesuar.html#'

wd = webdriver.Chrome('chromedriver',options=options)
wd.get(url)
html = wd.page_source
df = pd.read_html(html)

# DataFrame'lerin siteden çekilmesi

In [13]:
corolla_df = df[0]
corolla_hybrid_df = df[1]
corolla_cross_df = df[2]
toyota_CHR_hybrid_df = df[3]
corolla_hatchback_hybrid_df = df[4]

# Corolla Fiyat Listesi

In [6]:
corolla_df = df[0]
corolla_df

,Versiyon,Tavsiye Edilen 2023 MY Liste Fiyatları (TL),Tavsiye Edilen Kredi Kampanyalı 2023 MY Fiyatları** (TL),Tavsiye Edilen Aralık Ayına Özel Sınırlı Sayıda Kampanyalı 2023 MY Fiyatları* (TL)
0,1.5 Vision Multidrive S***,1.189.300,1.189.300,1.002.800
1,1.5 Vision Plus Multidrive S***,1.210.000,1.210.000,1.010.000
2,1.5 Dream Multidrive S,1.305.500,1.305.500,1.149.000
3,1.5 Dream X-Pack Multidrive S,1.385.050,1.385.050,1.228.550
4,1.5 Flame X-Pack Multidrive S,1.468.400,1.468.400,1.311.900
5,1.5 Passion X-Pack Multidrive S,1.586.500,1.586.500,1.430.000

# Corolla Hybrid Fiyat Listesi

In [7]:
corolla_hybrid_df

,Versiyon,Tavsiye Edilen Hybrid'e Özel ÖTV Oranı ile 2023 MY Fiyatları (TL)
0,1.8 Hybrid Dream e-CVT,1.504.400
1,1.8 Hybrid Dream-X-Pack e-CVT,1.559.300
2,1.8 Hybrid Flame X-Pack e-CVT,1.599.900
3,1.8 Hybrid Passion X-Pack e-CVT,1.718.050

# Corolla Cross Hybrid Fiyat Listesi

In [8]:
corolla_cross_df

,Versiyon,Tavsiye Edilen Hybrid'e Özel ÖTV Oranı ile 2023 MY Fiyatları (TL),Tavsiye Edilen Kredi Kampanyalı 2023 MY Fiyatları** (TL),Tavsiye Edilen Aralık Ayına Özel Sınırlı Sayıda Kampanyalı 2023 MY Fiyatları* (TL)
0,1.8 Hybrid Flame e-CVT,1.708.300,1.708.300,1.545.000
1,1.8 Hybrid Flame X-Pack e-CVT,1.757.400,1.757.400,1.590.000
2,1.8 Hybrid Passion e-CVT,1.878.200,1.878.200,1.700.000
3,1.8 Hybrid Passion X-Pack e-CVT,2.010.800,2.010.800,1.810.800
4,1.8 Hybrid Passion X-Pack Siyah Tavan e-CVT,2.038.600,2.038.600,1.838.600

# Yeni Toyota C-HR Hybrid Fiyat Listesi

In [9]:
toyota_CHR_hybrid_df

,Versiyon,Tavsiye Edilen Hybrid'e Özel ÖTV Oranı ile 2023 MY Fiyatları (TL),Lansmana Özel Tavsiye Edilen Kredi Kampanyalı 2023 MY Fiyatları** (TL),Lansmana Özel Tavsiye Edilen Kampanyalı 2023 MY Fiyatları* (TL)
0,1.8 Hybrid Passion e-CVT,1.800.000,1.550.000,1.550.000
1,1.8 Hybrid Passion X-Sport e-CVT,1.980.000,1.730.000,1.730.000
2,1.8 Hybrid Passion X-Style e-CVT,2.080.000,1.830.000,1.830.000

# Corolla Hatchback Hybrid Fiyat Listesi

In [10]:
corolla_hatchback_hybrid

,Versiyon,Tavsiye Edilen Hybrid'e Özel ÖTV Oranı ile 2023 MY Fiyatları (TL),Tavsiye Edilen Kredi Kampanyalı 2023 MY Fiyatları** (TL),Tavsiye Edilen Aralık Ayına Özel Sınırlı Sayıda Kampanyalı 2023 MY Fiyatları* (TL)
0,Hybrid Flame e-CVT,1.466.500,1.466.500,1.316.500
1,Hybrid Passion X-Pack e-CVT,1.626.500,1.626.500,1.466.500

## DataFrame'lerin Excel'e aktarılması

In [14]:
with pd.ExcelWriter('ToyotaOutput.xlsx') as excel_writer:
    corolla_df.to_excel(excel_writer, sheet_name='Toyota Corolla', index=False)
    corolla_hybrid_df.to_excel(excel_writer, sheet_name='Corolla Hybrid', index=False)
    corolla_cross_df.to_excel(excel_writer, sheet_name='Corolla Cross', index=False)
    toyota_CHR_hybrid_df.to_excel(excel_writer, sheet_name='Corolla CHR Hybrid', index=False)
    corolla_hatchback_hybrid_df.to_excel(excel_writer, sheet_name='Corolla Hatchback Hybrid', index=False)